@charset "UTF-8";

/* sakura */
div.theme-sakura {
  background: #ffcfdf;
  transition: background 0.2s ease-in-out;
}

div.theme-sakura table.calendar {
  background: #e0f9b5;
}

div.theme-sakura .calendar .week > td > div.today {
  background: #f8b0b0;
}

div.theme-sakura table.calendar .weekdays > th:first-child {
  color: #f3636d;
}

div.theme-sakura table.calendar .weekdays > th:last-child {
  color: #38919c;
}

div.theme-sakura table.calendar .week div.day-holiday {
  background: #a5dee5;
}

/* dark */

div.theme-dark {
  background: #333333;
  color: #f5f5f5;
  transition: background 0.2s ease-in-out;
}

div.theme-dark button > span {
  filter: brightness(0) invert(1);
}

div.theme-dark button.reload > svg {
  color: #f5f5f5;
}

div.theme-dark li.navbar-text.header-date {
  color: #f5f5f5;
}

div.theme-dark table.calendar {
  background: #333333;
  color: #f5f5f5;
}

div.theme-dark table.calendar .weekdays > th:first-child {
  color: #f5f5f5;
}

div.theme-dark table.calendar .weekdays > th:last-child {
  color: #f5f5f5;
}

div.theme-dark .calendar .week > td > div.today {
  background: #7f4473;
  color: #f5f5f5;
}

div.theme-dark table.calendar .week div.day-holiday {
  background: #706c61;
}

div.theme-dark table.calendar .week div.day.other {
  color: #c2c2c2;
}

/* tea */
div.theme-tea {
  background: #dcedc2;
  color: #212121;
  transition: background 0.2s ease-in-out;
}

div.theme-tea table.calendar {
  background: #ffd3b5;
  color: #212121;
}

div.theme-tea table.calendar .weekdays > th:first-child {
  color: #f3636d;
}

div.theme-tea table.calendar .weekdays > th:last-child {
  color: #38919c;
}

div.theme-tea table.calendar .week > td > div.today {
  background: #c6e9e8;
  color: #212121;
}

div.theme-tea table.calendar .week div.day-holiday {
  background: #fdffab;
}
